



<!-- <div class="info-banner">
  <strong>This page will be restricted during competition</strong><br>
  During competition you will only be able to see this page if you are signed in as a member of the team it is about.
</div> -->

<div class="landing-stack">
    <div class="announcement-card" id="survey-announcement">
      <div class="announcement-text">
        <strong>This page will be restricted during competition</strong><br>
        During competition you will only be able to see this page if you are signed in as a member of the team it is about.
      </div>
      
    </div>