./localsecrets.py
__pycache__/*
*.pyc

__pycache__/initial.cpython-312.pyc
./dashboard.db
__pycache__/local_secrets.cpython-312.pyc
local_secrets.py
__pycache__/local_secrets.cpython-312.pyc
nimble-equator-463901-k2-d0ff3569c345.json
