{% extends "base.html" %}

{% load static %}

{% block title %}
{{ team.team_name }} – Rule {{ rule.rule_number }} – Tech
{% endblock %}

{% block content %}
<h1>{{ team.team_name }} – Rule {{ rule.rule_number }}</h1>

<p>
  <strong>Event:</strong> {{ event.event_name }}<br>
  <strong>Category:</strong> {{ category.rule_category_name }}<br>
  <strong>Subcategory:</strong> {{ subcategory.rule_subcategory_name }}
</p>

<h2>Rule Text</h2>
<p>{{ rule.rule_content }}</p>

<h2>Status</h2>
<p class="{{ status_class }}">{{ status_label }}</p>

<h2>Images</h2>


        {% for photo in images %}
            <img src="{% static photo.media %}"alt="{{ photo.caption|default:team.team_name }}">
        {% endfor %}

  {% if not images %}
  <p> No images yet</p>
  {% endif %}
<h2>Comments</h2>
{% for comment in comments %}

<p>{{comment.media}}</p>

{% endfor %}
{% if not comments %}
<p> No comments yet</p>
{% endif %}
<p style="margin-top: 1rem;">
  <a href="{% url 'tech_in:team_subcategory_detail' event.event_id tractor_event.team.pk subcategory.rule_subcategory_id %}">
    ← Back to subcategory
  </a>
</p>
<p style="margin-top: 0.5rem;">
  <a href="{% url 'tech_in:overview' event.event_id %}">
    ← Back to event overview
  </a>
</p>


<style>
  .status-not-started { opacity: 0.7; }
  .status-failed { color: #f87171; }
  .status-corrected { color: #eab308; }
  .status-pass { color: #4ade80; }
</style>
{% endblock %}
