{% extends "base.html" %}
{% load static %}
{% block title %}Live Results – {{ event.event_name|default:"IQS Live" }}{% endblock %}

{% block content %}
<script defer src="{% static 'live/js/live_pull.js' %}"></script>

<div class="live-page">
  <header>
    <h1>
      Live Pull
    </h1>

    <div class="pull-meta">
      Team: <strong><span data-field="team_name">TEAM</span></strong> <span data-field="team_number">NUMBER</span><br>
      Distance: <span data-field="distance">0</span> ft<br>
      Hook : <span data-field="hook_name">HOOK</span>
    </div>

  </header>

  <div>current-pull
    <header>
      hook
    </header>
  </div>

  <canvas id="liveChart" height="90"></canvas>

<!-- Chart.js (CDN for now) -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</div>
{% endblock %}
